/* Source map: css/style-v2.css lines 2977-3000 */
/* LATE COMPONENT OVERRIDES */

@use "../abstracts/mixins" as *;

:is(input, textarea, select).form-control {
    box-shadow: none !important;
}

h1:empty {
    display: none !important;
}

@include min(bp(md-up)) {

    section.ic-section .row .row {
        width: 100%;
    }
}
