:root {
    --primary-color: #0045FF;
    --primary-color-logo: #3E72FD;
    --light: #F7F7F7;
    --gray: #A0A0A0;
    --dark: #707070;
    --global-semibold: 600;
    --global-radius: clamp(calc(12rem / 16), 3vw, calc(20rem / 16));
    --global-border-width: 2px;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@600&display=swap');

#main,
#main>article {
    padding-left: 0;
    padding-right: 0;
}

#main>article {
    padding-bottom: 0;
}

.header .header-inner,
.footer .footer-inner,
.breadcrumb {
    max-width: calc(1520rem / 16);
    margin-left: auto;
    margin-right: auto;
    padding-left: .75rem;
    padding-right: .75rem;
}

a {
    --link-color: var(--primary-color);
    --link-hover-color: var(--link-color);
    color: var(--link-color);
    text-decoration: none;
}

a:hover,
a:focus {
    color: var(--link-hover-color);
    text-decoration: underline;
}

h2,
h3,
h4,
h5,
h6,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 600;
}

h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: calc(20rem / 16);
}

*+h2,
*+h3 *+h4,
*+h5 {
    margin-top: calc(30rem / 16);
}

article h1,
article .h1 {
    margin-bottom: calc(20rem / 16);
    font-size: calc(36rem / 16);
}

h2,
.h2 {
    font-size: calc(28rem / 16);
}

h3,
.h3 {
    font-family: 'Source Sans 3', 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-size: calc(22rem / 16);
    font-weight: 600;
}

h4,
.h4 {
    font-size: calc(18rem / 16);
}

h5,
.h5,
h6,
.h6 {
    font-size: 1rem;
}

p.subhead {
    font-size: clamp(1rem, 5vw, calc(18rem / 16));
}

img {
    height: auto;
}

img.card-img-top {
    order: -1;
    border-radius: var(--global-radius);
}

.btn {
    --btn-padding: .5em 1.5em;
    --btn-border-width: var(--global-border-width);
    --btn-font-weight: var(--global-semibold);
    --btn-primary-color: var(--primary-color);
    --btn-hover-color: var(--primary-color-logo);
    padding: var(--btn-padding);
    border: var(--btn-border-width) solid transparent;
    font-weight: var(--btn-font-weight);
}

.btn-outline-primary {
    border-color: var(--btn-primary-color);
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
    background-color: var(--btn-hover-color);
    border-color: var(--btn-hover-color);
    color: white;
    text-decoration: none;
}

figure:last-child,
.callout:last-child,
p:last-child,
ol:last-child,
ul:last-child {
    margin-bottom: 0;
}

figure figcaption {
    display: flex;
    justify-content: flex-end;
    padding: .5em 0;
    font-size: 75%;
}

figure.oem-image {
    margin: calc(40rem / 16) 0;
}

figure.oem-image img {
    width: 100%;
    border-radius: clamp(calc(12rem / 16), 2vw, calc(20rem /16));
}

textarea {
    resize: none;
}

.form-control {
    max-width: 100%;
    padding: 1rem;
}

.form-control::placeholder {
    border-radius: 0;
    border-color: var(--dark);
    color: var(--gray);
}

.formwidget-submit-text {
    margin-top: 2rem;
    font-weight: 600;
}

form>.ktc-default-section {
    width: 100% !important;
}

.section {
    --section-padding: calc(30rem / 16);
    padding: var(--section-padding) 0;
}

.section:before {
    content: none !important;
}

.section_hero {
    --hero-height: calc(500rem / 16);
}

.section_impact img:not(.card-img-top),
.section_reserves img {
    border-radius: var(--global-radius);
}

.section_cta .callout {
    margin-top: 0;
}

.card {
    --card-body-padding: calc(20rem / 16);
    height: 100%;
}

.card.card-borderless {
    border: 0;
    box-shadow: none;
}

.card-body {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    padding: var(--card-body-padding);
}

.card.card-borderless .card-body {
    padding-bottom: 0;
}

.card-body>* {
    width: 100%;
}

.card-body p.first {
    order: -1;
}

.table {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

.table:last-child {
    margin-bottom: 0;
}

.table td,
.table th {
    padding: calc(5rem / 16) 0;
    vertical-align: center;
}

.table tr {
    width: 100%;
}

.table th {
    width: 100%;
    font-weight: normal;
}

.table tfoot {
    padding-top: calc(20rem / 16);
}

.table tfoot tr {
    border-top: 1px solid var(--gray);
}

.table tfoot th,
.table tfoot td {
    padding-top: calc(20rem / 16);
}

.table tbody tr td {
    text-align: right;
}

.table tr.total th,
.table tr.total td {
    font-size: calc(22rem / 16);
    font-weight: 700;
}

.table tr:not(.total) th,
.table tr:not(.total) td {
    font-size: calc(18rem / 16);
}

main.content,
aside.details {
    margin: 2rem 0;
}

.row-cards {
    margin-top: calc(40rem / 16);
    margin-bottom: calc(40rem / 16);
}

.row-list>* {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.row-list .card-title {
    margin-right: .5em;
}

.row-list .card-details {
    color: #333538;
}

.row-list .card-details:before {
    content: '(';
}

.row-list .card-details:after {
    content: ')';
}

.card {
    overflow: hidden;
    border-radius: calc(12rem / 16);
    border: 1px solid #E6E7E8;
    box-shadow: 0px 0px 14px #00000014;
    transition: border-color .25s ease-out;
}

.card-title {
    transition: color .25s ease-out;
}

.card-details {
    color: #707070;
}

a.card {
    text-decoration: none;
}

a.card:hover,
a.card:focus {
    border-color: #0045FF;
}

a.card:hover .card-description,
a.card:focus .card-description {
    color: initial;
}

.callout {
    margin: calc(30rem / 16) 0;
    padding: clamp(calc(10rem / 16), 5vw, calc(20rem / 16)) clamp(calc(20rem / 16), 5vw, calc(40rem / 16));
    border-radius: clamp(calc(12rem / 16), 5vw, calc(20rem / 16));
    background: #F7F7F7;
}

.callout .table th,
.callout .table td {
    background: transparent;
}

.section_cta .callout {
    padding: clamp(calc(20rem / 16), 5vw, calc(40rem / 16));
    background: white;
}

form {
    overflow: visible;
}

form textarea {
    height: calc(78rem / 16);
}

.form-field {
    margin: 20px 0;
}

.form-field .editing-form-control-nested-control {
    max-width: none;
}

.form-field .field-validation-valid {
    display: none;
}

.form-field .editing-form-control-nested-control .form-control {
    height: auto;
    padding: 8px 10px;
    border-radius: 1px;
}

input[type="submit"] {
    margin-top: calc(10rem / 16);
    padding: 0.75rem 1.25rem;
    background-color: var(--primary-color) !important;
    font-size: 1rem;
    color: white !important;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    background-color: var(--primary-color-logo) !important;
    border-color: var(--primary-color-logo) !important;
}

.sticky {
    position: sticky;
    top: 0;
}

.accordion {
    margin: 0
}

.accordion+.accordion {
    margin-top: -1px;
    padding-top: 0
}

.accordion .card {
    border-radius: 0
}

.accordion .card:first-child {
    border-top-left-radius: var(--bs-border-radius);
    border-top-right-radius: var(--bs-border-radius)
}

.accordion .card:last-child {
    border-bottom-left-radius: var(--bs-border-radius);
    border-bottom-right-radius: var(--bs-border-radius)
}

.accordion .card:only-child {
    border-radius: var(--bs-border-radius)
}

.accordion>.card {
    box-shadow: none;
    border-width: 2px;
}

.accordion>.card a.card {
    border-radius: calc(12rem / 16);
}

.accordion .card-body {
    padding: calc(20rem / 16);
}

.accordion .card-header {
    padding: 0
}

.accordion .card-header .btn-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: calc(12rem / 16) calc(20rem / 16);
    border-radius: 0;
    background: #E6E7E8;
    font-size: calc(20rem / 16);
    font-weight: 400;
    cursor: pointer;
    text-decoration: none
}

.accordion .card-header .btn-link:not(.collapsed) .icon {
    transform: rotate(180deg)
}

.embed-responsive img {
    transition: border-color .25s ease-out;
}

.embed-responsive-3by2 {
    padding-top: 0;
    aspect-ratio: 3 / 2;
    margin-bottom: 0;
}

.row--with-cols-padding .col-md-4 {
    padding-right: var(--bs-gutter-x);
    padding-left: var(--bs-gutter-x);
}

@media screen and (min-width: 400px) {
    .table tr.total~tr:not(.total) th {
        padding-left: calc(30rem / 16);
    }
}

@media screen and (min-width: 576px) {

    .card-horizontal .card-body,
    .accordion .card-horizontal .card-body {
        padding: calc(20rem / 16);
    }

    .table tr.total th,
    .table tr.total td {
        font-size: calc(28rem / 16);
    }

    .table tr:not(.total) th,
    .table tr:not(.total) td {
        font-size: calc(22rem / 16);
    }
}

@media screen and (min-width: 768px) {
    .section_hero {
        display: flex;
        align-items: center;
        height: var(--hero-height);
        background: var(--light);
    }

    .section_cta {
        overflow: hidden;
        padding: clamp(calc(55rem / 16), 7vw, calc(135rem / 16)) 0;
    }

    .section_hero [class*="col"],
    .section_cta [class*="col"] {
        position: static;
    }

    .section_cta .has-callout {
        z-index: 1;
    }

    .section_hero img,
    .section_cta img {
        position: absolute;
        top: 0;
        max-width: none;
    }

    .section_cta img {
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        min-width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .card-horizontal {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-bottom: calc(-20rem / 16);
    }

    .card-horizontal .card-img-top {
        flex: 0 0 40%;
        max-width: 40%;
        border-radius: 0;
    }

    .card-horizontal .card-body,
    .accordion .card-horizontal .card-body {
        flex: 1;
        padding: calc(30rem / 16);
    }

    main.content {
        padding-right: calc(50rem / 16);
    }
}

@media screen and (min-width: 1520px) {
    .section .container-fluid {
        max-width: calc(1520rem / 16);
    }
}

@media screen and (max-width: 768px) {
    .section_cta .callout {
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .section_hero img,
    .section_cta img {
        border-radius: var(--global-radius);
    }

    .card.card-borderless .card-body {
        padding-left: 0;
        padding-right: 0;
    }

    .card.card-borderless-m {
        border: 0;
        box-shadow: none;
    }

    .card.card-borderless-m .card-body {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 450px) {
    form>input[type="submit"] {
        width: 100%;
    }
}