@use "../abstracts/mixins" as *;

:root {
    --shell-inline-padding: var(--space-12);
    --shell-max-width: calc(1520rem / 16);
}

#main,
#main>article {
    padding-left: 0;
    padding-right: 0;
}

#main>article {
    padding: 0;
}

@include mq(md, down) {
    #main>article {
        overflow: hidden;
    }
}

#main>article>.row>.content {
    margin-bottom: 0;
    padding-bottom: 0;
}

.content.no-right-rail {
    padding: 0 var(--space-8);
}

.content.no-right-rail:has(> .ic-section) {
    padding: 0;
}

@include mq(md) {
    #main>article>.row>.content {
        padding-right: 0;
    }
}

.ic-section+.row.row--with-cols-padding,
.section+.row.row--with-cols-padding {
    margin-top: var(--section-margin);
    background: white !important;
    // padding: var(--section-padding) calc(12rem / 16)
    //     clamp(var(--space-80), 3.361rem + 4.848vw, var(--space-120)) calc(12rem / 16);
}

.ic-section.ic-background-white+.row.row--with-cols-padding,
.section.ic-background-white+.row.row--with-cols-padding,
.section.bg-white+.row.row--with-cols-padding {
    background: var(--lightest) !important;
}

.ic-section.ic-background-light+.row.row--with-cols-padding,
.section.ic-background-light+.row.row--with-cols-padding,
.section.bg-light+.row.row--with-cols-padding {
    margin-top: 0;
    background: none !important;
}

.header {
    border-bottom: 1px solid #ddd;
}

.header .header-inner,
.footer .footer-inner {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--shell-inline-padding);
    padding-right: var(--shell-inline-padding);
}

.breadcrumb {
    // display: none;
    margin: calc(25rem / var(--rem-base)) auto;
    padding: 0 var(--shell-inline-padding);
}

@include mq(xxxl) {

    .ic-section .container,
    .ic-header .container,
    .breadcrumb,
    .header .header-inner,
    .footer .footer-inner {
        max-width: var(--shell-max-width) !important;
    }
}

body>.pageWrap {
    overflow-x: visible !important;
    overflow-y: visible !important;
}

@include mq(lg) {
    .c-nav--main {
        justify-content: center;
    }
}

.ic-section:last-of-type,
.section:last-of-type,
.ic-section.mb-0,
.section.mb-0 {
    padding-bottom: clamp(5rem, 1.721rem + 9.697vw, 7.5rem);
}

.ic-section+.row.row--with-cols-padding:last-child,
.section+.row.row--with-cols-padding:last-child {
    padding-bottom: clamp(5rem, 1.721rem + 9.697vw, 7.5rem);
}
