@use "../abstracts/mixins" as *;

.ic-sticky {
    position: sticky;
    top: var(--space-30);
}

body:has(.ic-header) .ic-sticky,
body:has(.header) .ic-sticky {
    top: var(--header-height-mobile);

    @include mq(lg) {
        top: var(--header-height-desktop);
    }
}

.ic-visually-hidden {
    @include visually-hidden();
}

.ic-section .col.text-center {
    align-items: center;
}

@include mq(md) {
    .ic-section .col.text-md-center {
        align-items: center;
    }

    .ic-section .col.text-md-start {
        align-items: flex-start;
    }
}

.row.row_compact {
    width: calc(100% + var(--space-10));
    margin: -5px;
}

.row.row_compact .col-xxl-5up {
    padding: 5px !important;
}

.row.row_compact .col-xxl-5up .ic-card {
    height: 100%;
}

@include mq(xxl) {
    .row .col-xxl-5up {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.ic-section.ic-section-nav {
    margin-top: 0;
    padding: var(--space-20) 0;
}
