:root {
    --primary-color: #0045FF;
    --secondary-color: #3E72FD;
    --tertiary-color: #006CB4;
    --success-color: #209C02;

    --lighter: #F7F7F7;
    --light: #E6E7E8;
    --gray: #A0A0A0;
    --dark: #707070;
    --darker: #333538;
    --global-semibold: 600;
    --rem-base: 16;
    --space-12: calc(12rem / var(--rem-base));
    --space-20: calc(20rem / var(--rem-base));
    --space-30: calc(30rem / var(--rem-base));
    --space-40: calc(40rem / var(--rem-base));
    --space-60: calc(60rem / var(--rem-base));
    --space-80: calc(80rem / var(--rem-base));
    --h4-font-size: calc(18rem / 16);
    --primary-font: 'Source Sans 3', 'Source Sans Pro', Arial, Helvetica, sans-serif;
    --global-semibold: 600;
    --global-radius-sm: var(--space-12);
    --global-radius-lg: var(--space-20);
    --global-radius: clamp(var(--global-radius-sm), calc(0.385rem + 1.013vw), var(--global-radius-lg));
    --global-border-width: 2px;
    --section-padding: clamp(var(--space-40), 1.68rem + 2.424vw, var(--space-60));
    --section-margin: clamp(var(--space-20), 0.43rem + 2.424vw, var(--space-40));
    --button-radius: calc(8rem / var(--rem-base));
    --form-field-padding: .75em;
}

html {
    scroll-behavior: smooth;
}

#main,
#main>article {
    padding-left: 0;
    padding-right: 0;
}

#main>article {
    padding-bottom: 0;
}

.header .header-inner,
.footer .footer-inner,
.breadcrumb {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: .75rem;
    padding-right: .75rem;
}

a {
    --link-color: var(--primary-color);
    --link-hover-color: var(--link-color);
    color: var(--link-color);
    text-decoration: none;
}

a:hover,
a:focus {
    color: var(--link-hover-color);
    text-decoration: underline;
}

li>a {
    display: inline-block;
    padding: .35em 0;
}

h2,
h3,
h4,
h5,
h6,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: var(--primary-font);
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: calc(20rem / 16);
}

*+h2,
*+h3 *+h4,
*+h5 {
    margin-top: calc(30rem / 16);
}

h1,
.h1 {
    font-family: var(--primary-font);
    font-size: calc(36rem / 16);
    line-height: 1.2;
    font-weight: 700;
}

h2,
.h2 {
    font-size: calc(28rem / 16);
}

h3,
.h3 {
    font-size: calc(22rem / 16);
}

h4,
.h4 {
    font-size: calc(18rem / 16);
}

h5,
.h5,
h6,
.h6 {
    font-size: 1rem;
}

ol,
ul {
    padding-left: calc(20rem / 16);
}

ul li+li {
    padding-top: .25rem;
}

ul>li>a {
    display: inline;
}

ul.check-list {
    list-style: none;
    padding: 0;
    margin: 0;
    color: inherit;
}

ul.check-list li {
    position: relative;
    padding-left: calc(24rem / 16);
}

ul.check-list li::before {
    content: "";
    position: absolute;
    left: calc(4rem / 16);
    top: calc(6rem / 16);
    width: calc(6rem / 16);
    height: calc(12rem / 16);
    border: solid currentColor;
    border-width: 0 calc(2rem / 16) calc(2rem / 16) 0;
    transform: rotate(45deg);
    display: inline-block;
}

p,
li {
    font-family: var(--primary-font);
}

p.subhead,
ol.subhead>li {
    font-size: clamp(1rem, 3.5vw, calc(18rem / 16));
}

p:has(small) {
    font-style: italic;
    line-height: 1.3;
    color: var(--dark);
}

.label {
    margin-bottom: calc(10rem / 16);
    font-size: 1rem;
    font-family: var(--primary-font);
    font-weight: 600;
    color: #A0A0A0;
}

.section-label {
    display: inline-block;
    margin: 0 0 1rem;
    padding: calc(5rem / 16) calc(15rem / 16);
    background: black;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 600;
}

section:has(.section-label_centered) div[class^="col-"] {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

@media screen and (max-width: 539.9px) {

    section:has(.section-label_centered) div[class^="col-"] {
        align-items: flex-start;
    }
}

.text-success {
    color: var(--success-color) !important;
}

.font-weight-semibold {
    font-weight: 600 !important;
}

img {
    max-width: 100%;
    height: auto;
}

.img-cnt.three-two {
    aspect-ratio: 3 / 2;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-cnt.five-three {
    aspect-ratio: 5 / 3;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

img.img_rounded {
    width: 100%;
    border-radius: var(--global-radius);
}

img.img_radius {
    border-radius: calc(12rem / 16);
    box-shadow: 0px 3px 20px #00000033;
}

.badges {
    display: flex;
    flex-wrap: nowrap;
}

.badges .badge-logo {
    transition: transform .25s ease-in;
}

.badges .badge-logo+.badge-logo {
    margin-left: clamp(2rem, 3.5vw, var(--space-60));
}

.logo.solo-logo {
    width: calc(140rem / 16);
}

.btn,
form>input[type="submit"] {
    --btn-padding: .5em 1.5em;
    --btn-border-width: var(--global-border-width);
    --btn-font-weight: var(--global-semibold);
    --btn-primary-color: var(--primary-color);
    padding: var(--btn-padding);
    border: var(--btn-border-width) solid transparent;
    font-family: var(--primary-font);
    font-weight: var(--btn-font-weight);
    transition: all .25s ease-in;
}

.btn:hover,
.btn:focus,
form>input[type="submit"]:hover,
form>input[type="submit"]:focus {
    color: white;
    text-decoration: none;
}

#main article .btn-primary,
form>input[type="submit"] {
    background: var(--primary-color);
    border-color: var(--primary-color);
}

#main article .btn-primary:hover,
form>input[type="submit"]:hover {
    background: var(--secondary-color);
    border-color: var(--secondary-color);
}

#main article .btn-primary:focus,
form>input[type="submit"]:focus {
    background: var(--tertiary-color);
    border-color: var(--tertiary-color);
}

.btn-outline-primary {
    border-color: var(--btn-primary-color);
    color: var(--btn-primary-color);
}

.btn-outline-primary:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-outline-primary:focus {
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
}

.has-dropdown {
    position: relative;
}

.has-dropdown .btn-dropdown {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: calc(300rem / 16);
    padding: .5em 1em;
    border: 1px solid #a0a0a0;
    background-color: white;
    font-family: var(--primary-font);
    font-weight: 500;
}

.has-dropdown .btn-dropdown:hover,
.has-dropdown .btn-dropdown:focus {
    border-color: var(--primary-color);
    color: #212529;
}

.section_bg-img {
    width: 100%;
}

.section_hero .dropdown {
    position: absolute;
    top: calc(100% + calc(10rem / 16));
    left: 0;
    width: 100%;
    max-width: 100%;
    max-height: calc(200rem / 16);
    overflow: auto;
    padding: .35em 0;
    border-radius: calc(12rem / 16);
    background: white;
    box-shadow: 0px calc(3rem / 16) calc(20rem / 16) #00000033;
}

.section_hero .dropdown.-hidden {
    display: none;
}

.section_hero .dropdown>li>a {
    display: block;
    padding: .35em 1em;
    color: black;
}

.section_hero .dropdown>li>a:hover,
.section_hero .dropdown>li>a:focus {
    color: black;
}

.btn-dropdown .icon {
    margin-left: 1em;
    transition: transform .25s ease-out;
}

.btn-dropdown .icon path {
    fill: black;
}

.section_hero.dropdown-open {
    position: relative;
    z-index: 1;
}

.section_hero.dropdown-open .box {
    overflow: visible;
}

.section_hero.dropdown-open .btn-dropdown .icon {
    transform: rotate(-180deg);
}

.col-dropdown {
    position: relative;
    z-index: 1;
}

figure:last-child,
.callout:last-child,
p:last-child,
ol:last-child,
ul:last-child {
    margin-bottom: 0;
}

figure figcaption {
    display: flex;
    justify-content: flex-end;
    padding: .5em 0;
    font-size: 75%;
}

figure.oem-image {
    margin: calc(40rem / 16) 0;
}

figure.oem-image img,
.img-rounded {
    width: 100%;
    border-radius: clamp(calc(12rem / 16), 2vw, calc(20rem /16));
}

.img-flush {
    display: block;
    max-width: calc(600rem / 16);
    width: 100%;
    margin: 0 auto;
}

textarea {
    resize: none;
}

.form-control {
    padding: 1rem;
}

.form-control::placeholder {
    border-radius: 0;
    border-color: var(--dark);
    color: var(--gray);
}

.section {
    --section-padding: clamp(calc(40rem / 16), 3.5vw, calc(60rem / 16));
    padding: var(--section-padding) 0;
}

.section:before {
    content: none !important;
}

.section_hero {
    --hero-height: 30vw;
    position: relative;
}

.section_hero .box h1 {
    width: 100%;
}

.section_impact img:not(.card-img-top),
.section_reserves img {
    border-radius: var(--global-radius);
}

.section_cta .callout {
    margin-top: 0;
}

.section-resources .card-body {
    padding: clamp(calc(20rem / 16), 3.5vw, calc(25rem / 16));
}

.section.bg-light {
    padding: clamp(calc(40rem / 16), 3.5vw, calc(60rem / 16)) 0;
    margin: clamp(calc(20rem / 16), 3.5vw, calc(50rem / 16)) 0;
    background: #f7f7f7 !important;
}

.section_hero+.section.bg-light {
    margin-top: 0;
}

.section.bg-light:only-child,
.section.bg-light:last-child {
    margin-bottom: 0;
}

.box {
    overflow: hidden;
    background: white;
    padding: calc(20rem / 16) 0;
}

.box_lg {
    padding: 0;
    border-radius: var(--global-radius);
    background: var(--lighter);
}

.box-copy {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    height: 100%;
}

.box-image img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.box-copy .label,
.box-copy .logo {
    order: -1;
}

.box-copy h2 {
    width: 100%;
}

.card {
    --card-body-padding: calc(20rem / 16) calc(20rem / 16) calc(30rem / 16);
    --icon-card-body-padding: calc(20rem / 16);
    display: block;
    height: 100%;
}

.card.logo-card .card-title,
.card.text-card .card-title {
    font-family: var(--primary-font);
    font-weight: 700;
}

.card-body {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    padding: var(--card-body-padding);
}

.card.has-icon {
    display: flex;
}

.card.has-icon .card-body {
    padding: 0;
}

.card.has-icon .card-title {
    padding: var(--icon-card-body-padding);
    padding-left: 0 !important;
}

.card.has-icon .img-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    max-width: calc(140rem / 16);
}

.card.has-icon .img-cnt img {
    max-width: calc(80rem / 16);
    transition: transform .25s ease-out;
}

.card.has-icon:hover .img-cnt img,
.card.has-icon:focus .img-cnt img {
    transform: scale(1.1);
}

.flex-column>.card-body {
    padding: calc(20rem / 16) clamp(calc(20rem / 16), 2vw, calc(30rem / 16)) clamp(calc(30rem / 16), 2vw, calc(40rem / 16));
}

.card-body>* {
    width: 100%;
}

.card-body p.first {
    order: -1;
}

.card:hover,
.card:focus {
    border: 1px solid var(--primary-color);
}

.card-title a {
    font-family: var(--primary-font);
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.card-logo {
    flex: 0 0 calc(100rem / 16);
    max-width: calc(100rem / 16);
    transition: transform .25s ease-out;
}

.logo-card .card-title a {
    font-family: 'Source Sans Pro', 'Source Sans 3', Arial, Helvetica, sans-serif;
}

.logo-card .card-body {
    padding: calc(20rem / 16);
}

.card:hover .card-title a,
.card:focus .card-title a {
    color: black;
    text-decoration: none;
}

.card:hover .card-logo,
.card:focus .card-logo {
    transform: scale(1.05);
}

.card:hover .card-title,
.card:focus .card-title,
.card:hover p,
.card:focus p {
    color: black;
}

.card-img-top {
    aspect-ratio: 385 / 177;
    object-fit: cover;
    order: -1;
}

.card-img-top.card-img-cnt {
    position: relative;
    aspect-ratio: 16 / 9;
    background: var(--lighter);
}

.card-img-top.card-img-cnt img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: calc(220rem / 16);
    max-height: calc(90rem / 16);
}

.table {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

.table:last-child {
    margin-bottom: 0;
}

.table td,
.table th {
    padding: calc(5rem / 16) 0;
    vertical-align: center;
}

.table tr {
    width: 100%;
}

.table th {
    width: 100%;
    font-weight: normal;
}

.table tfoot {
    padding-top: calc(20rem / 16);
}

.table tfoot tr {
    border-top: 1px solid var(--gray);
}

.table tfoot th,
.table tfoot td {
    padding-top: calc(20rem / 16);
}

.table tbody tr td {
    text-align: right;
}

.table tr.total th,
.table tr.total td {
    font-size: calc(22rem / 16);
    font-weight: 700;
}

.table tr:not(.total) th,
.table tr:not(.total) td {
    font-size: calc(18rem / 16);
}

.progress-container {
    width: 100%;
    background: var(--light);
    position: relative;
    overflow: hidden;
}

.progress-bar {
    height: 1rem;
    width: 0%;
    background: var(--tertiary-color);
    transition: width 0.4s ease-in-out;
}

.progress-bar::after {
    content: '';
    display: block;
    width: attr(data-percent);
    max-width: 100%;
}

.progress-text {
    font-size: calc(18rem / 16);
}

main.content,
aside.details {
    margin: 2rem 0;
}

.row-cards {
    margin-top: calc(40rem / 16);
    margin-bottom: calc(40rem / 16);
}

.row-list>* {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.row-list .card-title {
    margin-right: .5em;
}

.row-list .card-details {
    color: #333538;
}

.row-list .card-details:before {
    content: '(';
}

.row-list .card-details:after {
    content: ')';
}

.card {
    overflow: hidden;
    border-radius: calc(12rem / 16);
    border: 1px solid #E6E7E8;
    box-shadow: 0px 0px 14px #00000014;
    transition: border-color .25s ease-out;
}

.card-title {
    margin-bottom: calc(10rem / 16);
    transition: color .25s ease-out;
}

.font-weight-500 {
    font-family: 'Source Sans 3', 'Source Sans Pro', Arial, Helvetica, sans-serif !important;
    font-weight: 500 !important;
}

.card-details {
    color: #707070;
}

a.card {
    text-decoration: none;
}

a.card:hover,
a.card:focus {
    border-color: #0045FF;
}

a.card:hover .card-description,
a.card:focus .card-description {
    color: initial;
}

.callout {
    margin: calc(30rem / 16) 0;
    padding: clamp(calc(10rem / 16), 5vw, calc(20rem / 16)) clamp(calc(20rem / 16), 5vw, calc(40rem / 16));
    border-radius: clamp(calc(12rem / 16), 5vw, calc(20rem / 16));
    background: #F7F7F7;
}

.callout .table th,
.callout .table td {
    background: transparent;
}

.section_cta .callout {
    padding: clamp(calc(30rem / 16), 5vw, calc(40rem / 16));
    background: white;
}

.sticky {
    position: sticky;
    top: 0;
}

.accordion {
    margin: 0
}

.accordion+.accordion {
    margin-top: -1px;
    padding-top: 0
}

.accordion .card {
    border-radius: 0
}

.accordion .card:first-child {
    border-top-left-radius: var(--bs-border-radius);
    border-top-right-radius: var(--bs-border-radius)
}

.accordion .card:last-child {
    border-bottom-left-radius: var(--bs-border-radius);
    border-bottom-right-radius: var(--bs-border-radius)
}

.accordion .card:only-child {
    border-radius: var(--bs-border-radius)
}

.accordion>.card {
    box-shadow: none;
    border-width: 2px;
}

.accordion>.card a.card {
    border-radius: calc(12rem / 16);
}

.accordion .card-body {
    padding: calc(20rem / 16);
}

.accordion .card-header {
    padding: 0
}

.accordion .card-header .btn-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: calc(12rem / 16) calc(20rem / 16);
    border-radius: 0;
    background: #E6E7E8;
    font-size: calc(20rem / 16);
    font-weight: 400;
    cursor: pointer;
    text-decoration: none
}

.accordion .card-header .btn-link:not(.collapsed) .icon {
    transform: rotate(180deg)
}

.embed-responsive img {

    transition: border-color .25s ease-out;
}

.embed-responsive-3by2 {
    padding-top: 0;
    aspect-ratio: 3 / 2;
    margin-bottom: 0;
}

.checkmark {
    --size: 32px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: var(--size);
    height: var(--size);
    margin-top: -10%;
    background: #006CB4;
    border-radius: 50%;
}

.checkmark:after {
    content: '';
    display: block;
    transform: rotate(45deg);
    width: calc(var(--size) / 4);
    height: calc(var(--size) / 2);
    margin-top: -2px;
    margin-left: calc(var(--size) / 4);
    border: solid white;
    border-width: 0 calc(var(--size) / 8) calc(var(--size) / 8) 0;
}

.box {
    padding: calc(30rem / 16) calc(20rem / 16);
    border-radius: var(--global-radius);
    box-shadow: 0px 3px 20px #0000002A;
    border: 1px solid var(--light);
}

.box h3 {
    margin-bottom: calc(20rem / 16);
}

form {
    align-items: flex-start;
}

form .ktc-default-section {
    width: 100%;
}

form .form-field .editing-form-control-nested-control {
    max-width: none;
}

form label,
form .form-field>label.control-label {
    width: 100%;
    margin: 0;
}

form label+label,
form .form-field+.form-field {
    margin-top: calc(20rem / 16);
    margin-bottom: 0;
}

form label .label,
form .form-field>label.control-label {
    display: block;
    margin-bottom: .25rem;
    font: normal normal 600 1rem/1.5 var(--primary-font);
    color: inherit;
}

form label .label .optional {
    font-weight: normal;
}

form button.btn,
form>input[type="submit"] {
    width: auto;
    margin-top: 2rem;
    /* margin-bottom: calc(20rem / 16); */
    font-size: 1rem;
}

form>input[type="submit"]:focus,
form>input[type="submit"]:active {
    border-radius: var(--button-radius);
}

form input,
form .form-field .editing-form-control-nested-control input.form-control,
.form-field .editing-form-control-nested-control select.form-control {
    width: 100%;
    padding: .5rem .65rem;
    border-radius: 0;
    border: 1px solid var(--gray);
    box-shadow: none;
    font-weight: 400;
}

form input:focus {
    border-radius: 0;
}

form input::-webkit-input-placeholder {
    color: var(--gray);
}

form input::-moz-placeholder {
    color: var(--gray);
}

form input:-ms-input-placeholder {
    color: var(--gray);
}

form input:-moz-placeholder {
    color: var(--gray);
}

form input:invalid:not(:focus):not(:placeholder-shown),
form .form-field .editing-form-control-nested-control .input-validation-error.form-control {
    border-color: var(--error-color);
}

form label:has(input:invalid:not(:focus):not(:placeholder-shown)):after,
form .form-field .editing-form-control-nested-control .field-validation-error {
    content: '';
    display: block;
    margin-top: calc(5rem / 16);
    font-weight: normal;
    color: var(--error-color);
    font-style: italic;
}

form label:has(input[type="tel"]:invalid:not(:focus):not(:placeholder-shown)):after {
    content: 'Enter a valid 10 digit phone number only using numbers';
}

form label:has(input[type="email"]:invalid:not(:focus):not(:placeholder-shown)):after {
    content: 'Enter a valid email address format';
}

form .ktc-default-section {
    display: flex;
    flex-flow: row wrap;
    width: calc(100% + calc(30rem / 16));
    margin: 0 calc(15rem / -16);
}

/* .row--with-cols-padding:has(div[id*="form-GetMyShopToGoldClass"]),
.row--with-cols-padding:has(.formwidget-submit-text) {
    padding: calc(60rem / 16) calc(15rem / 16);
    background-color: var(--lighter);
} */

.row--with-cols-padding:has(.formwidget-submit-text) .subhead,
.row--with-cols-padding:has(.formwidget-submit-text) .disclaimer {
    display: none !important;
}

form .form-field .form-control {
    height: auto;
}

form .form-field {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 calc(15rem / 16);
    margin: 0;
}

form .form-field:has(input[id*="organization"]),
form .form-field:has(select[id*="benefits"]) {
    flex: 0 0 100%;
    max-width: 100%;
}

@media screen and (min-width: 400px) {

    .table tr.total~tr:not(.total) th {
        padding-left: calc(30rem / 16);
    }
}

@media screen and (min-width: 576px) {

    .card-horizontal .card-body,
    .accordion .card-horizontal .card-body {
        padding: calc(20rem / 16);
    }

    .table tr.total th,
    .table tr.total td {
        font-size: calc(28rem / 16);
    }

    .table tr:not(.total) th,
    .table tr:not(.total) td {
        font-size: calc(22rem / 16);
    }

    .card-logo {
        flex: 0 0 calc(170rem / 16);
        max-width: calc(170rem / 16);
        max-height: calc(85rem / 16);
    }

    .card-logo-w {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    .logo-card .card-body {
        padding: calc(20rem / 16) calc(20rem / 16) calc(30rem / 16);
    }

    .col-lg-4 .card.logo-card .card-logo-w {
        aspect-ratio: 5 / 2;
    }

    /* form .form-field {
        flex: 0 0 50%;
        max-width: 50%;
    } */
}

@media screen and (min-width: 768px) {

    .box {
        overflow: hidden;
        padding: calc(30rem / 16);
        border-radius: var(--global-radius);
        background: white;
    }

    .box_lg {
        padding: 0;
        background: var(--lighter);
    }

    .box-image img {
        aspect-ratio: 340 / 455;
    }

    .box-image img.img_radius {
        box-shadow: 0px 0px 20px #00000033;
    }

    .banner {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    .logo.solo-logo {
        width: calc(230rem / 16);
    }

    .section_hero {
        background: var(--lighter);
    }

    .section_hero.bg-white {
        background: var(--white);
    }

    .section_hero+.section.bg-light {
        padding-top: var(--space-80);
    }

    .section_hero .dropdown {
        max-height: calc(130rem / 16);
    }

    .section_hero-banner {
        display: flex;
        align-items: center;
        height: var(--hero-height);
        min-height: calc(600rem / 16);
        max-height: calc(750rem / 16);
        overflow: hidden;
        background: none;
    }

    .section_hero-banner .banner {
        aspect-ratio: 750 / 600;
        object-fit: cover;
    }

    .section_hero-banner .box {
        padding: calc(30rem / 16);
    }

    .section_cta {
        overflow: hidden;
        padding: clamp(calc(55rem / 16), 7vw, calc(135rem / 16)) 0;
    }

    .section_logos {
        padding: 0;
        background: var(--lighter);
    }

    .section_hero [class*="col"],
    .section_cta [class*="col"] {
        position: static;
    }

    .section_cta .has-callout {
        z-index: 1;
    }

    .section_hero img:not(.banner):not(.section_hero_img),
    .section_cta img {
        position: absolute;
        top: 0;
        max-width: none;
    }

    .section_cta img {
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        min-width: 100%;
    }

    .img-cnt {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: calc(400rem / 16);
    }

    .bg-md-white {
        background: white !important;
    }

    .text-md-left {
        text-align: left !important;
    }

    .box-copy .logo {
        max-width: calc(165rem / 16);
    }

    .card.has-icon .card-title {
        padding: var(--icon-card-body-padding);
    }

    /* form .form-field {
        flex: 0 0 100%;
        max-width: 100%;
    } */
}

@media screen and (min-width: 1024px) {

    .section_hero-banner .banner {
        aspect-ratio: 975 / 600;
    }

    .box {
        padding: calc(30rem / 16);
    }

    .box_lg {
        padding: 0;
    }

    .box-image img {
        aspect-ratio: 1 / 1;
    }

    .card-logo {
        flex: 0 0 calc(150rem / 16);
        max-width: calc(150rem / 16);
        max-height: calc(82.5rem / 16);
    }

    .card-horizontal {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-bottom: calc(-20rem / 16);
    }

    .card-horizontal .card-img-top {
        flex: 0 0 40%;
        max-width: 40%;
        border-radius: 0;
    }

    .card-horizontal .card-body,
    .accordion .card-horizontal .card-body {
        flex: 1;
        padding: calc(30rem / 16);
    }

    main.content {
        padding-right: calc(50rem / 16);
    }

    .badges .badge-logo:hover {
        transform: scale(1.1);
    }
}

@media screen and (min-width: 1200px) {

    .section_hero-banner .banner {
        aspect-ratio: 2 / 1;
    }

    .section_hero-banner .box {
        padding: calc(40rem / 16);
    }

    /* .logo.solo-logo {
        width: calc(350rem / 16);
    } */

}

@media screen and (min-width: 1366px) {

    .section_hero .dropdown {
        max-height: calc(165rem / 16);
    }

    .section_hero-banner .banner {
        aspect-ratio: 1350 / 600;
    }

    .box-image img {
        aspect-ratio: 615 / 500;
    }

    .card-logo {
        flex: 0 0 calc(170rem / 16);
        max-width: calc(170rem / 16);
        max-height: calc(85rem / 16);
    }

    .card-horizontal .card-body,
    .accordion .card-horizontal .card-body {
        padding: calc(30rem / 16);
    }

    /* form .form-field {
        flex: 0 0 50%;
        max-width: 50%;
    } */
}

@media screen and (min-width: 1520px) {

    .section .container-fluid,
    .breadcrumb,
    .header .header-inner,
    .footer .footer-inner {
        max-width: calc(1520rem / 16);
    }
}

@media screen and (max-width: 1200px) {

    .badges .badge-logo {
        width: calc(140rem / var(--rem-base));
    }
}

@media screen and (max-width: 768px) {

    .section-card {
        padding-bottom: 1rem;
    }

    .section.bg-light-sm {
        margin: clamp(calc(20rem / 16), 3.5vw, calc(50rem / 16)) 0;
        background: #f7f7f7 !important;
    }

    .section.bg-white-sm {
        background: white !important;
    }

    .section_cta .callout {
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .section_hero img,
    .section_cta img {
        border-radius: var(--global-radius);
    }

    .box-copy .logo {
        display: none;
    }

    .box_lg.shadow-none.bg-white {
        padding: 0 !important;
        overflow: visible !important;
        border-radius: 0;
        background: none !important;
        border: 0;
    }

    .box_lg.shadow-none.bg-white .row {
        padding: 0 !important;
    }

    .box_lg.shadow-none.bg-white .img_radius {
        display: block;
        s width: calc(600rem / 16);
        margin: 0 auto;
        box-shadow: 0px 3px 20px #00000033;
    }

    .badges {
        justify-content: center;
        margin-top: calc(28rem / var(--rem-base));
    }

    .form-img {
        display: block;
        max-width: 85%;
        margin: calc(28rem / var(--rem-base)) auto 0;
    }
}

@media screen and (max-width: 768px) {

    .section_hero {
        padding-top: 0;
    }

    .section_hero .box {
        overflow: visible;
        padding-left: 0;
        padding-right: 0;
        background: none;
        box-shadow: none;
        border: 0;
    }
}

@media screen and (max-width: 576px) {

    .card-body {
        align-items: center;
    }

    .card-logo-w {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .card.logo-card {
        height: calc(135rem / 16);
    }

    .card-copy {
        flex: 1;
        max-width: 100%;
    }
}

main+.row.row--with-cols-padding {
    margin-top: var(--section-margin);
    background: var(--lighter) !important;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    padding-bottom: var(--section-padding);
}

main+.row.row--with-cols-padding form {
    max-width: calc(500rem / var(--rem-base));
    margin: 0 auto;
}

main:has(section.bg-light:last-child)+.row.row--with-cols-padding {
    margin-top: 0;
}

.formwidget-submit-text {
    text-align: center;
    font-size: var(--h4-font-size);
    font-weight: var(--global-semibold);
}