/* Source map: css/style-v2.css lines 2154-2266 */
/* BOXES */

.ic-box {
    padding: var(--box-padding);
    background-color: var(--white);
    border-radius: var(--border-radius);
}

@media (max-width: 768px) {

    .ic-box-mobile-collapse {
        padding: 0;
        background-color: transparent;
        border-radius: 0;
    }
}

.ic-section-box {
    border-radius: var(--border-radius);
}

.ic-section-box.ic-section-box-padded {
    border: var(--card-border-width) solid var(--light);
}

@media (min-width: 768.1px) {

    .ic-section-box.ic-section-box-padded {
        padding: clamp(var(--space-30), 1.499rem + 1.112vw, var(--space-40));
        background-color: var(--lightest);

    }

    .ic-section.ic-background-light .ic-section-box.ic-section-box-padded {
        background-color: var(--white);
    }

    .ic-section-box.ic-section-box-padded>.row {
        width: 100%;
        margin: 0;
    }

    .ic-section-box.ic-section-box-padded .col:not(.order-first, .order-md-first) .ic-section-box-copy {
        padding-right: 0;
    }

    .ic-section-box.ic-section-box-padded .col.order-md-first .ic-section-box-copy,
    .ic-section-box.ic-section-box-padded .col.order-first .ic-section-box-copy {
        padding-left: 0;
    }

    .ic-section-box.ic-section-box-padded .ic-section-box-copy {
        padding-top: 0;
        padding-bottom: 0;
        background-color: transparent;
    }

    .ic-section-box.ic-section-box-padded .ic-section-box-image {
        box-shadow: var(--card-box-shadow);
    }
}

.ic-section-box .ic-section-box-copy {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100%;
    padding: clamp(var(--space-30), 1.123rem + 2.225vw, var(--space-50));
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    background-color: var(--lightest);
}

.ic-section.ic-background-light .ic-section-box-copy {
    background-color: var(--white);
}

.ic-section-box .ic-section-box-image {
    height: 100%;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.ic-section.ic-background-light .ic-section-box-image {
    background-color: var(--white);
}

@media (min-width: 768.1px) {

    .ic-section .col.order-first:not(.order-md-last) .ic-section-box-copy,
    .ic-section .col.order-md-first .ic-section-box-copy,
    .ic-section .col.order-first:not(.order-md-last) .ic-section-box-image,
    .ic-section .col.order-md-first .ic-section-box-image {
        border-radius: var(--border-radius) 0 0 var(--border-radius);
    }

    .ic-section .col.order-last:not(.order-md-first) .ic-section-box-copy,
    .ic-section .col.order-md-last .ic-section-box-copy,
    .ic-section .col.order-last:not(.order-md-first) .ic-section-box-image,
    .ic-section .col.order-md-last .ic-section-box-image {
        border-radius: 0 var(--border-radius) var(--border-radius) 0;
    }

    .ic-section .ic-section-box-padded .col.order-first:not(.order-md-last) .ic-section-box-copy,
    .ic-section .ic-section-box-padded .col.order-md-first .ic-section-box-copy,
    .ic-section .ic-section-box-padded .col.order-first:not(.order-md-last) .ic-section-box-image,
    .ic-section .ic-section-box-padded .col.order-md-first .ic-section-box-image,
    .ic-section .ic-section-box-padded .col.order-last:not(.order-md-first) .ic-section-box-copy,
    .ic-section .ic-section-box-padded .col.order-md-last .ic-section-box-copy,
    .ic-section .ic-section-box-padded .col.order-last:not(.order-md-first) .ic-section-box-image,
    .ic-section .ic-section-box-padded .col.order-md-last .ic-section-box-image {
        border-radius: var(--border-radius);
    }
}
