/* Source map: css/style-v2.css lines 3006-3126 */
/* BOARD OF DIRECTORS APPLY - KEY DATES AND MILESTONES */

@use "../abstracts/mixins" as *;

.ic-milestone-list {
    position: relative;
    margin-left: 36px !important;
}

.ic-milestone-item .ic-milestone-card {
    border-radius: var(--border-radius-xs);
}

.ic-milestone-card.ic-card:is(.ic-background-white, .ic-background-light) .ic-card-body {
    padding: var(--space-20);
}

.ic-milestone-card.ic-card .ic-card-title,
.ic-milestone-card.ic-card:has(.ic-card-image) .ic-card-title {
    margin-bottom: 0 !important;
}

@include mq(xl) {

    .ic-milestone-card.ic-card .col-xl-auto {
        min-width: calc(140rem / 16)
    }
}

.ic-milestone-card.ic-card .ic-card-title {
    font-size: var(--h5-font-size);
}

.ic-milestone-item {
    position: relative;
}

.ic-milestone-item::before {
    content: "";
    position: absolute;
    top: calc(50% - 10px);
    left: -36px;
    width: 20px;
    height: 20px;
    border: 1px solid var(--tertiary-color);
    border-radius: 50%;
    background-color: var(--white);
    transition: background-color .2s ease, border-color .2s ease;
    z-index: 1;
}

.ic-milestone-list::before {
    content: "";
    position: absolute;
    top: 3.5em;
    bottom: 3.5em;
    left: -27px;
    width: 1px;
    background-color: var(--gray-200);
    z-index: 0;
}

@include mq(sm) {

    .ic-milestone-list::before {
        top: 3em;
        bottom: 3em;
    }
}

@include mq(md) {

    .ic-milestone-list {
        margin-left: 48px !important;
    }

    .ic-milestone-list::before {
        left: -39px;
    }

    .ic-milestone-item::after {
        content: "";
        position: absolute;
        top: 50%;
        left: -48px;
        width: 48px;
        height: 1px;
        background-color: var(--gray-200);
        transition: background-color .2s ease;
    }

    .ic-milestone-item::before {
        left: -48px;
    }

    .ic-milestone-item:hover::before {
        background-color: var(--tertiary-color);
        border-color: var(--tertiary-color);
    }

    .ic-milestone-item:hover::after {
        background-color: var(--tertiary-color);
    }

    .ic-milestone-item:hover .ic-milestone-card {
        box-shadow: var(--card-box-shadow);
    }
}

@include mq(md, down) {

    .ic-milestone-list {
        padding-left: 34px;
    }

    .ic-milestone-item::before {
        background-color: var(--tertiary-color);
        border-color: var(--tertiary-color);
    }

    .ic-milestone-item .ic-milestone-card {
        box-shadow: var(--card-box-shadow);
    }
}
