@use "../abstracts/mixins" as *;

.table {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

.table:last-child {
    margin-bottom: 0;
}

.table td,
.table th {
    padding: calc(5rem / 16) 0;
    vertical-align: center;
}

.table tr {
    width: 100%;
}

.table th {
    width: 100%;
    font-weight: normal;
}

.table tfoot {
    padding-top: calc(20rem / 16);
}

.table tfoot tr {
    border-top: 1px solid var(--gray);
}

.tfoot {
    border-top: 2px solid var(#e6e7e8);
}

.table tfoot th,
.table tfoot td {
    padding-top: calc(20rem / 16);
}

.table tbody tr td {
    text-align: right;
}

.table tr.total {
    display: block;
}

.table tr.total th,
.table tr.total td {
    font-size: calc(22rem / 16);
    font-weight: 700;
}

.table:not(.table-stack) tr:not(.total) th,
.table:not(.table-stack) tr:not(.total) td {
    font-size: calc(18rem / 16);
}

@include mq(xs) {
    .table tr.total ~ tr:not(.total) th {
        padding-left: calc(30rem / 16);
    }
}

@include mq(sm) {
    .table tr.total th,
    .table tr.total td {
        font-size: calc(28rem / 16);
    }

    .table:not(.table-stack) tr:not(.total) th,
    .table:not(.table-stack) tr:not(.total) td {
        font-size: calc(22rem / 16);
    }
}
